@charset "ISO-8859-1";

.btns {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 30vh;
	border: 2px solid black;
	padding-top: 20px;
}

.btns button {
	margin: 20px;
	width: 300px;
	height: 70px;
	border: none;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: 10px;
	font-size: 22px;
	font-family: 'Times New Roman', Times, serif;
	font-weight: bolder;
	background-color: white;
}

.btns button:active {
	box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
	font-size: 21px;
}