<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="5.0">
	<display-name>PaymentBillSystem</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>studentLogin.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>studentLogin.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>Student</display-name>
		<servlet-name>Student</servlet-name>
		<servlet-class>com.paymentbillsystem.model.Student</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Student</servlet-name>
		<url-pattern>/Student</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>newStudentRegisterServlet</display-name>
		<servlet-name>newStudentRegisterServlet</servlet-name>
		<servlet-class>com.paymentbillsystem.controller.newStudentRegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>newStudentRegisterServlet</servlet-name>
		<url-pattern>/newStudentRegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AdminLoginVerify</display-name>
		<servlet-name>AdminLoginVerify</servlet-name>
		<servlet-class>com.paymentbillsystem.controller.AdminLoginVerify</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminLoginVerify</servlet-name>
		<url-pattern>/AdminLoginVerify</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LogoutActionForAll</display-name>
		<servlet-name>LogoutActionForAll</servlet-name>
		<servlet-class>com.paymentbillsystem.controller.LogoutActionForAll</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutActionForAll</servlet-name>
		<url-pattern>/LogoutActionForAll</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>NewAccountantRegisterServlet</display-name>
		<servlet-name>NewAccountantRegisterServlet</servlet-name>
		<servlet-class>com.paymentbillsystem.controller.NewAccountantRegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewAccountantRegisterServlet</servlet-name>
		<url-pattern>/NewAccountantRegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AccountantLoginVerify</display-name>
		<servlet-name>AccountantLoginVerify</servlet-name>
		<servlet-class>com.paymentbillsystem.controller.AccountantLoginVerify</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccountantLoginVerify</servlet-name>
		<url-pattern>/AccountantLoginVerify</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>FindStudentServlet</display-name>
		<servlet-name>FindStudentServlet</servlet-name>
		<servlet-class>com.paymentbillsystem.controller.FindStudentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FindStudentServlet</servlet-name>
		<url-pattern>/FindStudentServlet</url-pattern>
	</servlet-mapping>

</web-app>